body {
  background-color: black; 
}

.banner {
  width: 1440px;
  height: 640px;
  background: url(assets/images/banner.png), linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, rgba(49, 168, 221, 0.25) 100%);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: auto;
  border-bottom: solid 1px rgba(51, 168, 219, 1);
  margin: auto;
  }

.banner .banner-content {
  padding-top: 57px;
}

.logo {
  width: 268px;
  height: 268px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 49.96px;
  color: #FFFFFF;
  width: 1440px;
  height: 47px;
  text-align: center;
  background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
}

.banner p {
  margin: auto;
  width: 510px;
  height: 46px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  color: #FFFFFF;
  text-align: justify;
  word-break: break-all;
}

button {
  width: 326px;
  height: 57px;
  border: 3px solid transparent;
  border-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  background: transparent;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  color:rgba(49, 168, 221, 1);
  margin-top: 25px;
  margin-left: 557px;
  margin-right: 557px;
  align-content: center;
}

main {
  width: 1440px;
  height: 1550px;
  border-bottom: solid 1px rgba(51, 168, 219, 1);
  background-color: black;
  margin: auto;
  color: rgba(255, 255, 255, 1);
}

#course-content h2 {
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  letter-spacing: 0.19em;
  text-align: center;
  background: rgba(51, 168, 219, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: black;
  margin-top: 75px;
  margin-bottom: 25px;
}

#course-content p {
  width: 792px;
  height: 38px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.module {
  width: 535px;
  height: 51px;
  border: 2px solid rgba(51, 168, 219, 1);
  border-radius: 40px;
  box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
  background: rgba(37, 37, 37, 1);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 25px;
}

span {
  color: rgba(51, 168, 219, 1);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
}

#transform-world {
  width: 1440px;
  height: 363px;
  margin-top: 75px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgba(51, 168, 219, 1);
  background: url(assets/images/woman-code.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:0% 42.5%;
}

#transform-world p {
  width: 244px;
  height: 141px;
  margin-left: 200px;
  margin-top: 111px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 900;
  line-height: 46.96px;
  text-align: left;
  text-transform: lowercase;
  word-break:keep-all;
  text-shadow: 3px 2px 0px rgba(51, 168, 219, 1);
}

#professional-challenges h2 {
  width: 760px;
  height: 76px;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  letter-spacing: 0.19em;
  color: #FFFFFF;
  background: rgba(51, 168, 219, 1);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: black;
  margin-top: 75px;
  margin-bottom: 25px;
  word-break:break-all;
  text-align: center;
  margin-left: 340px;
}

#professional-challenges img {
  width: 659px;
  height: 429px;
  margin-left: 390.5px;
}

#professional-challenges p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: center;
  width: 792px;
  height: 76px;
  margin-left: 324px;
  margin-top: 25px;
  margin-bottom: 50px;
}

footer {
  width: 1440px;
  height: 170px;
  background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, rgba(49, 168, 221, 0.25) 100%);
  margin: auto;
}

footer p {
  width: 259px;
  height: 19px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: center;
  color: aliceblue;
  margin-left: 590.5px;
  margin-top: 10px;
}

footer a {
font-family: Raleway;
font-size: 16px;
font-weight: 700;
line-height: 18.78px;
text-align: center;
text-decoration: none;
color: rgba(51, 168, 219, 1);
}

footer img {
  width: 310px;
  height: 44px;
  margin-left: 565px;
  margin-top: 50px;
}